include ./mixins/navitem.jade
doctype html
html
    head
        meta(name='viewport',content='width=device-width, initial-scala=1.0')
        title= title
        link(rel="styleSheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/datepicker/css/bootstrap-datepicker.min.css')
        script(src="https://code.jquery.com/jquery-1.12.4.min.js",
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=",
                crossorigin="anonymous")
    body
        nav.navbar-default.navbar-fixed-top#main-nav
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#nq-navbar",aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") nqschool
                .collapse.navbar-collapse#nq-navbar
                    ul.nav.navbar-nav.navbar-right
                        +navItem("Khoá học",selected)
                        +navItem("Học viên nổi bật",selected)
                        +navItem("Nhận xét",selected)
                        +navItem("Liên hệ",selected)
                        +navItem("Đăng ký",selected) 
                        +navItem("Đăng nhập",selected)
        .wrapper
            block content
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="/datepicker/js/bootstrap-datepicker.js")
