extends layout

block content
    .container
        .row
            .col-xs-12.col-sm-6.col-sm-offset-3
                .panel.panel-default
                    .panel-heading Đăng ký tài khoản
                    .panel-body
                        if message.length > 0
                            .alert.alert-danger= message
                        .form-container
                            form#register-form(action="/process-register",method="post")
                                input(type="hidden",name="_csrf",value="#{csrf}")
                                .form-group
                                    label(for="name") Họ và tên
                                    input.form-control#name(type="text",name="name",placeholder="Họ và tên")
                                .form-group
                                    label(for="email") Email
                                    input.form-control#email(type="email",name="email",placeholder="Email")
                                .form-group
                                    label(for="password") Mật khẩu
                                    input.form-control#password(type="password",name="password",placeholder="Mật khẩu")
                                .form-group
                                    label(for="confirmPassword") Xác nhận mật khẩu
                                    input.form-control#confirmPassword(type="password",name="confirmPassword",placeholder="Xác nhận mật khẩu")
                                .form-group
                                    label(for="phone") Số điện thoại
                                    input.form-control#phone(type="number",name="phone",placeholder="Số điện thoại")
                                .form-group
                                    label(for="dob") Ngày sinh
                                    input.form-control#dob(type="text",placeholder="dob",name="dob")
                                .form-group
                                    label(for="password") Giới tính
                                    .radio
                                        label
                                            input.gender(type="radio",name="gender",value="male")
                                            span Male
                                    .radio
                                        label
                                            input.gender(type="radio",name="gender",value="female")
                                            span Female

                                button.btn.btn-default(type="submit",name="submit") Đăng ký
                                button.btn.btn-danger.space-left(type="reset") Reset
    script(src="javascripts/register.js")
